<h1>Orders</h1>
<table class="table table-dark" *ngIf="orders.length; else noData">
    <thead>
        <tr>
            <th scope="col">
                <app-table-sort key="created" (sort)="onSortChange($event)" [activeSort]="sort">Order date</app-table-sort>
            </th>
            <th scope="col">
                <app-table-sort key="products_count" (sort)="onSortChange($event)" [activeSort]="sort">Products count</app-table-sort>
            </th>
            <th scope="col">
                <app-table-sort key="pieces_count" (sort)="onSortChange($event)" [activeSort]="sort">Pieces count</app-table-sort>
            </th>
            <th scope="col">
                <app-table-sort key="total" (sort)="onSortChange($event)" [activeSort]="sort">Total</app-table-sort>
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders">
            <td>{{ order.created | date: "yyyy-MM-dd HH:mm:ss" }}</td>
            <td>{{ order.products_count }}</td>
            <td>{{ order.pieces_count }}</td>
            <td>{{ order.total }} PLN</td>
            <td>
                <a [routerLink]="['/logged/orders', order._id]" mat-button><mat-icon>toys</mat-icon> Details</a>
            </td>
        </tr>
    </tbody>
</table>
<ng-template #noData>
    <p>No results</p>
</ng-template>
<ngb-pagination *ngIf="pages > 1"
    [page]="page"
    (pageChange)="onPageChange($event)"
    [pageSize]="results"
    [collectionSize]="total"
></ngb-pagination>
