<div class="container-fluid">
    <h1>Payment</h1>
    <app-order-stepper [step]="2"></app-order-stepper>
    <br><br>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-lg-4 order-lg-1">
                <div class="card">
                    <div class="card-header bg-accent">Payment</div>
                    <div class="card-body text-dark">
                        <h3><b>Total: {{ total }} PLN</b></h3>
                        <br>
                        <button mat-raised-button type="submit" color="accent" [disabled]="inProgress" class="medium"><mat-icon>attach_money</mat-icon>Buy and pay</button>
                    </div>
                </div>
                <br>
                <br>
            </div>
            <div class="col-lg-8 order-lg-0">
                <div class="row">
                    <div class="col-lg-4">
                        <h2>Payment details</h2>
                        <div class="row">
                            <div class="col">
                                <app-text-input [form]="form" name="email" [messages]="messages" displayName="Email" type="text"></app-text-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <app-text-input [form]="form" name="first_name" [messages]="messages" displayName="First name" type="text"></app-text-input>
                            </div>
                            <div class="col-6">
                                <app-text-input [form]="form" name="last_name" [messages]="messages" displayName="Last name" type="text"></app-text-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <app-text-input [form]="form" name="phone_number" [messages]="messages" displayName="Phone number" type="text"></app-text-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <app-text-input [form]="form" name="postal_code" [messages]="messages" displayName="Postal code" type="text"></app-text-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <app-text-input [form]="form" name="address_line_1" [messages]="messages" displayName="Address line 1" type="text"></app-text-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <app-text-input [form]="form" name="address_line_2" [messages]="messages" displayName="Address line 2" type="text"></app-text-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <app-text-input [form]="form" name="city" [messages]="messages" displayName="City" type="text"></app-text-input>
                            </div>
                            <div class="col-6">
                                <app-text-input [form]="form" name="country" [messages]="messages" displayName="Country" type="text"></app-text-input>
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
                    <div class="col-lg-8">
                        <h2>Cards</h2>
                        <div class="row">
                            <div class="col">
                                <ngx-stripe-card [elementsOptions]="elementsOptions" [options]="cardOptions"></ngx-stripe-card>
                                <br>
                                <br>
                            </div>
                        </div>
                        <div class="row justify-content-end" *ngIf="customer?.cards.length">
                            <div class="col flex-grow-0">
                                <button mat-button type="button" color="accent" (click)="onResetCardSelection()"><mat-icon>clear</mat-icon> Reset card selection</button>
                            </div>
                        </div>
                        <div class="row" *ngIf="customer?.cards.length; else noData">
                            <div class="col">
                                <mat-radio-group formControlName="token">
                                    <table class="table table-dark">
                                        <thead>
                                        <tr>
                                            <th scope="col">Brand</th>
                                            <th scope="col">Card number</th>
                                            <th scope="col">Expiration</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let card of customer?.cards">
                                            <td>{{ card.brand }}</td>
                                            <td>**** **** **** {{ card.last_4 }}</td>
                                            <td>{{ card.exp_month }}/{{ card.exp_year }}</td>
                                            <td>
                                                <mat-radio-button color="primary" [value]="card.card_id"></mat-radio-button>
                                            </td>
                                            <td class="text-right">
                                                <button mat-button type="button" color="accent" [disabled]="inProgress" (click)="onDeleteCard(card)"><mat-icon>clear</mat-icon> Delete card</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </mat-radio-group>
                            </div>
                        </div>
                        <ng-template #noData>
                            <p>No cards</p>
                        </ng-template>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h2>Products</h2>
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Price per piece</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Total price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let element of cartElements">
                                    <td>
                                        <a [routerLink]="['/games', element.product._id]"><img [src]="element.product.image" alt="" class="img-thumbnail product-image"></a>
                                    </td>
                                    <td><a [routerLink]="['/games', element.product._id]">{{ element.product.title }}</a></td>
                                    <td>{{ element.product.price }} PLN</td>
                                    <td>{{ element.amount }}x</td>
                                    <td>{{ element.product.price * element.amount }} PLN</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
