@import "src/scss/theme";

.product-title
{
    padding: 10px;
}
.container-fluid
{
    min-height: calc(100vh - 225px);
    margin-top: 50px;
    padding-bottom: 100px;
}

.details-container
{
    margin-top: 50px;
}
.description
{
    background: $white;
    padding: 30px 40px 60px;
    color: $dark;
    margin-top: 50px;
    text-align: center;
}
.price
{
    font-size: 36px;
}
