<mat-form-field class="d-block" [ngClass]="{'light-theme': light}">
    <mat-label>{{displayName}}</mat-label>
    <input autocomplete="off" matInput [type]="type" [formControl]="form.get(name)" id="{{name}}" [placeholder]="displayName" [ngClass]="formUtils.handleValidationStateClass(form, name)">
    <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, name, messages) }}</span>
</mat-form-field>
