<a [routerLink]="['/games', product._id]">
    <div class="card product-card">
        <div class="card-header text-white bg-primary">
            <h4 class="mb-0">{{ product.title }}</h4>
        </div>
        <img [src]="product.image" alt="" class="product-image card-img-top">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h3 class="card-title text-accent">{{ product.title }}</h3>
                </div>
                <div class="col flex-grow-0">
                    <small class="text-dark">{{ product.premiere | date: "yyyy-MM-dd" }}</small>
                </div>
            </div>
            <h5 class="text-muted">{{ product.manufacturer }}</h5>
            <p class="card-text text-dark">{{ product.intro }}</p>
            <hr>
            <div class="row justify-content-end">
                <div class="col flex-grow-0">
                    <div class="product-price text-nowrap">{{ product.price }} PLN</div>
                </div>
            </div>
        </div>
    </div>
</a>
