<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <div class="row justify-content-lg-end">
                <ul class="nav flex-column nav-pills nav-fill mr-5 mb-5">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/logged/profile" routerLinkActive="active">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/logged/orders" routerLinkActive="active">Orders</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
