@import "src/styles";
.header
{
    height: 500px;
    width: 100%;
    background-position: center !important;
    background-origin: content-box !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
}
.title
{
    font-size: 36px;
    text-align: center;
    text-shadow: 1px 1px 5px $dark;
    padding-top: 400px;
}
.content
{
    margin-top: 30px;
    margin-bottom: 100px;
}
.form-container
{
    max-width: 600px;
    @include media-breakpoint-down(lg)
    {
        margin-top: 30px;
        max-width: 100%;
    }
}
.details-container
{
    padding: 20px 40px 60px;
    height: 100%;
}
