<div class="row">
    <div class="col">
        <h2 mat-dialog-title>{{ title }}</h2>
    </div>
    <div class="col-2 text-right">
        <a [mat-dialog-close]>
            <mat-icon>close</mat-icon>
        </a>
    </div>
</div>
<hr>
<div mat-dialog-content>
    <ng-content select="[content]"></ng-content>
</div>
<div mat-dialog-actions>
    <ng-content select="[footer]"></ng-content>
</div>
