@import "src/scss/theme";
.product-image
{
    max-height: 100px;
}
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

.rating > input {
    display: none
}

.rating > label {
    position: relative;
    width: 1em;
    font-size: 24px;
    color: $yellow;
    cursor: pointer
}

.rating > label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating > label:hover:before,
.rating > label:hover~label:before {
    opacity: 1 !important
}

.rating > input:checked~label:before {
    opacity: 1
}

.rating:hover > input:checked ~ label:before {
    opacity: 0.4
}
.invalid-feedback
{
    display: inline;
}
.back-button
{
    margin-left: -25px;
}
