<app-modal [title]="'Sign in'">
    <div content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <app-text-input [form]="form" name="email" [messages]="messages" displayName="Email" type="text"></app-text-input>
            <app-text-input [form]="form" name="password" [messages]="messages" displayName="Password" type="password"></app-text-input>
            <br>
            <div class="row justify-content-end">
               <div class="col flex-grow-0">
                   <button mat-button type="button" (click)="onForgotPasswordModal()">Forgot password ?</button>
               </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" color="primary" class="medium" mat-raised-button [disabled]="inProgress"><mat-icon>login</mat-icon> Sign in</button>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col flex-grow-0">
                    <button mat-button class="mt-2" type="button" (click)="onRegisterModal()">Don't have account ?</button>
                </div>
            </div>
        </form>
    </div>
</app-modal>
