<h1>Change email</h1>
<a routerLink="/logged/profile" mat-button class="back-button"><mat-icon>arrow_left</mat-icon> Back</a>
<br>
<br>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col">
            <app-text-input [form]="form" name="email" [messages]="messages" displayName="New email" type="text"></app-text-input>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-text-input [form]="form" name="password" [messages]="messages" displayName="Password" type="password"></app-text-input>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <button type="submit" color="primary" class="medium" mat-raised-button [disabled]="inProgress"><mat-icon>send</mat-icon> Update</button>
        </div>
    </div>
</form>
