<div class="container-fluid">
    <h1>Cart</h1>
    <app-order-stepper [step]="1"></app-order-stepper>
    <br><br>
    <div class="row">
        <div class="col-lg-4 order-lg-1">
            <div class="card">
                <div class="card-header bg-accent">Cart</div>
                <div class="card-body text-dark">
                    <h3><b>Total: {{ total }} PLN</b></h3>
                    <br>
                    <button mat-raised-button type="button" color="accent" (click)="onToPayment()"><mat-icon>attach_money</mat-icon> Payment</button>
                    <button mat-button type="button" color="primary" routerLink="/games"><mat-icon>exit_to_app</mat-icon> Continue shopping</button>
                </div>
            </div>
            <br>
        </div>
        <div class="col-lg-8 order-lg-0">
            <form [formGroup]="form">
                <div class="row justify-content-between">
                    <div class="col flex-grow-0">
                        <h2>Products</h2>
                    </div>
                    <div class="col flex-grow-0" *ngIf="cartElements.length">
                        <button mat-button type="button" color="warn" (click)="onDeleteAll()"><mat-icon>delete</mat-icon> Delete all</button>
                    </div>
                </div>
                <div class="row" *ngIf="cartElements.length; else noData ">
                    <div class="col">
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Price per piece</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Total price</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody formArrayName="elements">
                                <tr *ngFor="let elementForm of form.get('elements')['controls']; let i = index" [formGroupName]="i">
                                    <td>
                                        <a [routerLink]="['/games', cartElements[i].product._id]"><img [src]="cartElements[i].product.image" alt="" class="img-thumbnail product-image"></a>
                                    </td>
                                    <td><a [routerLink]="['/games', cartElements[i].product._id]">{{ cartElements[i].product.title }}</a></td>
                                    <td>{{ cartElements[i].product.price }} PLN</td>
                                    <td>
                                        <app-text-input [form]="elementForm" name="amount" [messages]="messagesPacks[i]" displayName="Amount" type="number"></app-text-input>
                                    </td>
                                    <td>{{ cartElements[i].product.price * elementForm.get('amount').value }} PLN</td>
                                    <td class="text-right">
                                        <button mat-button type="button" color="warn" (click)="onDelete(cartElements[i])"><mat-icon>delete</mat-icon> Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <ng-template #noData>
                    <p>No items added</p>
                </ng-template>
            </form>
        </div>
    </div>
</div>
