/* You can add global styles to this file, and also import other style files */

//bootstrap import
@import "~bootstrap/dist/css/bootstrap.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "scss/theme";
@import "scss/utils";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.invalid-feedback
{
    color: $warn;
}

button
{
    &:focus
    {
        outline: none;
    }
    &.medium
    {
        padding: 5px 25px;
    }
    &.large
    {
        padding: 10px 35px;
        font-size: 16px;
    }
}

a:hover
{
    text-decoration: none;
}

//snackbars
.error-snackbar
{
    background: $danger;
    color: $white;
}

.success-snackbar
{
    background: $green;
    color: $white;
}

.mat-badge-content
{
    top: -8px !important;
}
.card
{
    border-radius: 0;
    border: none;
    .card-header
    {
        border-radius: 0;
    }
}
