<h1>Change password</h1>
<a routerLink="/logged/profile" mat-button class="back-button"><mat-icon>arrow_left</mat-icon> Back</a>
<br>
<br>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col">
            <app-text-input [form]="form" name="old_password" [messages]="messages" displayName="Old password" type="password"></app-text-input>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-text-input [form]="form" name="new_password" [messages]="messages" displayName="New password" type="password"></app-text-input>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-text-input [form]="form" name="repeated_password" [messages]="messages" displayName="Repeated password" type="password"></app-text-input>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <button type="submit" color="primary" class="medium" mat-raised-button [disabled]="inProgress"><mat-icon>send</mat-icon> Update</button>
        </div>
    </div>
</form>
