
.pointer {
    cursor: pointer;
    outline: none;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.p-relative {
    position: relative;
}

.three-dots {
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex-fill {
    flex: 1;
}

.border-none {
    border: none !important;
}

.rounded {
    border-radius: 8px !important;
}

.v-align-middle {
    vertical-align: middle;
}

.text-primary
{
    color: $primary;
}

.text-accent
{
    color: $accent;
}

.text-warn
{
    color: $warn;
}

.text-dark
{
    color: $dark;
}

.bg-primary
{
    background-color: $primary !important;
}

.bg-accent
{
    background-color: $accent !important;
}
.bg-warn
{
    background-color: $warn !important;
}
.bg-dark
{
    background-color: $dark;
}
.border-primary
{
    border-color: $primary !important;
}

.border-accent
{
    border-color: $accent !important;
}
.border-warn
{
    border-color: $warn !important;
}
.border-dark
{
    border-color: $dark;
}
