<span (click)="onSort()" class="pointer">
    <ng-content></ng-content>
    <span class="ml-5">
        <mat-icon *ngIf="option == 'DESC'">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="option == 'ASC'">keyboard_arrow_up</mat-icon>
    </span>
</span>
