@import "src/scss/theme";
nav
{
    z-index: 100;
    border-bottom: 1px solid $white;
}

.nav-item
{
    margin: 0 10px;
}
.nav-item a
{
    color: $white;
    border-radius: 0;
}
.nav-item.active a
{
    border-bottom: 2px solid $white;
}
.dropdown-menu
{
    a, button
    {
        text-align: left;
        color: $dark;
    }
}
.navbar-brand
{
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 5px $dark;
    .lightning
    {
        margin-right: 5px;
        font-style: italic;
        vertical-align: -8px;
        color: $yellow;
    }
}
